body{
    margin: 3%;
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: flex;
    align-items: center;
    align-content:space-around; */
}

.container{
    width: 55%;
}

.logoImage{
    margin: 25px;
    width: 75px;
    height: 60px;
}

.heading{
    margin: 20px
}

.form-check{
    margin: 25px;
}

.btn{
    width: 45%;
}